<a href="https://colab.research.google.com/github/Deendayal6265/Machine-Learning-Algorithms/blob/main/Naive%20Bayes/Naive_Bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
from sklearn import datasets

In [ ]:
data=pd.read_csv('https://raw.githubusercontent.com/codebasics/py/master/ML/14_naive_bayes/titanic.csv')
data

     PassengerId  ... Survived
0              1  ...        0
1              2  ...        1
2              3  ...        1
3              4  ...        1
4              5  ...        0
..           ...  ...      ...
886          887  ...        0
887          888  ...        1
888          889  ...        0
889          890  ...        1
890          891  ...        0

[891 rows x 12 columns]

In [ ]:
data.shape

(891, 12)

In [ ]:
data.dropna(inplace=True)
data.isna().sum()

PassengerId    0
Name           0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
Survived       0
dtype: int64

In [ ]:
data.drop(["PassengerId","Name","SibSp","Parch","Ticket","Cabin","Embarked"],axis=1,inplace=True)
data.head(3)

   Pclass     Sex   Age     Fare  Survived
1       1  female  38.0  71.2833         1
3       1  female  35.0  53.1000         1
6       1    male  54.0  51.8625         0

In [ ]:
x=data.iloc[:,0:4]
x

     Pclass     Sex   Age     Fare
1         1  female  38.0  71.2833
3         1  female  35.0  53.1000
6         1    male  54.0  51.8625
10        3  female   4.0  16.7000
11        1  female  58.0  26.5500
..      ...     ...   ...      ...
871       1  female  47.0  52.5542
872       1    male  33.0   5.0000
879       1  female  56.0  83.1583
887       1  female  19.0  30.0000
889       1    male  26.0  30.0000

[183 rows x 4 columns]

In [ ]:
y=data.Survived
y

1      1
3      1
6      0
10     1
11     1
      ..
871    1
872    0
879    1
887    1
889    1
Name: Survived, Length: 183, dtype: int64

In [ ]:
# sex column in x are object convert it into the int. 
from sklearn.preprocessing import LabelEncoder
x.Sex=(LabelEncoder().fit_transform(x.Sex))

In [ ]:
x

     Pclass  Sex   Age     Fare
1         1    0  38.0  71.2833
3         1    0  35.0  53.1000
6         1    1  54.0  51.8625
10        3    0   4.0  16.7000
11        1    0  58.0  26.5500
..      ...  ...   ...      ...
871       1    0  47.0  52.5542
872       1    1  33.0   5.0000
879       1    0  56.0  83.1583
887       1    0  19.0  30.0000
889       1    1  26.0  30.0000

[183 rows x 4 columns]

In [ ]:
x.isna().sum()

Pclass    0
Sex       0
Age       0
Fare      0
dtype: int64

In [ ]:
# split the data in train or test data 
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y)

In [ ]:
print(x_train.shape)

(137, 4)

# **Types Of Naive Bayes Classifier **

In [ ]:
'''Gaussian Naive Bayes
Multinomial Naive Bayes
Complement Naive Bayes
Bernoulli Naive Bayes
Categorical Naive Bayes
Out-of-core naive Bayes'''

In [ ]:
# use Gaussian Naive Bayes 

from sklearn.naive_bayes import GaussianNB
model  = GaussianNB()
model.fit(x_train,y_train)
print("model trained successfully ")

model trained successfully

In [ ]:
model.score(x_test,y_test)

0.8043478260869565

In [ ]:
y_pred = model.predict(x_test)
y_pred

array([0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0,
       0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0,
       1, 1])

In [ ]:
print(y_test)

741    0
110    0
412    1
716    1
430    1
572    1
291    1
515    0
10     1
52     1
699    0
520    1
462    0
539    1
177    0
96     0
429    1
730    1
269    1
218    1
123    1
583    0
434    0
710    1
618    1
327    1
621    1
698    0
275    1
802    1
311    1
558    1
879    1
118    0
724    1
263    0
492    0
498    0
853    1
700    1
737    1
484    1
759    1
339    0
305    1
627    1
Name: Survived, dtype: int64

In [ ]:
model.predict_proba(x_test)

In [ ]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,y_pred)
cm

array([[12,  3],
       [ 6, 25]])