<a href="https://colab.research.google.com/github/Deendayal6265/Machine-Learning-Algorithms/blob/main/Statistics/Startup%20Funding%20project%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/startup_funding.csv')

In [ ]:
data.head(2)

   SNo        Date StartupName  ...  InvestmentType AmountInUSD Remarks
0    0  01/08/2017    TouchKin  ...  Private Equity   1,300,000     NaN
1    1  02/08/2017     Ethinos  ...  Private Equity         NaN     NaN

[2 rows x 10 columns]

In [ ]:
amount =data.AmountInUSD  # select only the amount colomn.

In [ ]:
amount

0       1,300,000
1             NaN
2             NaN
3         500,000
4         850,000
          ...
2367    4,500,000
2368      825,000
2369    1,500,000
2370          NaN
2371      140,000
Name: AmountInUSD, Length: 2372, dtype: object

In [ ]:
amount.dropna(inplace=True)
amount

0       1,300,000
3         500,000
4         850,000
5       1,000,000
6       2,600,000
          ...
2366    2,500,000
2367    4,500,000
2368      825,000
2369    1,500,000
2371      140,000
Name: AmountInUSD, Length: 1525, dtype: object

In [ ]:
amount.reset_index(inplace=True,drop=True)
amount

0       1,300,000
1         500,000
2         850,000
3       1,000,000
4       2,600,000
          ...
1520    2,500,000
1521    4,500,000
1522      825,000
1523    1,500,000
1524      140,000
Name: AmountInUSD, Length: 1525, dtype: object

In [ ]:
a1 = amount.str.replace(',',"")   # it remove the comma from the number's . 
a1

0       1300000
1        500000
2        850000
3       1000000
4       2600000
         ...
1520    2500000
1521    4500000
1522     825000
1523    1500000
1524     140000
Name: AmountInUSD, Length: 1525, dtype: object

In [ ]:
a1.dtype

dtype('O')

In [ ]:
a2 = pd.to_numeric(a1)
a2

0       1300000
1        500000
2        850000
3       1000000
4       2600000
         ...
1520    2500000
1521    4500000
1522     825000
1523    1500000
1524     140000
Name: AmountInUSD, Length: 1525, dtype: int64

In [ ]:
a2.dtypes

dtype('int64')

In [ ]:
a2[0]

1300000

In [ ]:
pop_avg = a2.mean()
pop_max = a2.max()
pop_min = a2.min()

print(pop_avg,"This is the average .\n ")
print(pop_max,"maximum\n")
print(pop_min,"minimum\n")

12031073.099016393 This is the average .

1400000000 maximum

16000 minimum

In [ ]:
population = a2
sample_size = 100
sample = population.sample(sample_size, random_state = 2)
print(sample)
print()
print(sample.shape)

1108       400000
665       8900000
421       6700000
246      13000000
1459     13000000
          ...
675     100000000
1411       166000
1303       200000
834        250000
1428     25000000
Name: AmountInUSD, Length: 100, dtype: int64

(100,)

In [ ]:

sample_avg = sample.mean()
sample_max = sample.max()
sample_min = sample.min

print(sample_avg)
print(sample_max)
print(sample_min)

11903637.68
260000000
<bound method NDFrame._add_numeric_operations.<locals>.min of 1108       400000
665       8900000
421       6700000
246      13000000
1459     13000000
          ...
675     100000000
1411       166000
1303       200000
834        250000
1428     25000000
Name: AmountInUSD, Length: 100, dtype: int64>

In [ ]:
bang = data[data.CityLocation == ("Bangalore")]
mum = data[data.CityLocation == "Mumbai"]

bang= pd.DataFrame(bang)
mum = pd.DataFrame(mum)

mum_bang = pd.concat([bang,mum])

In [ ]:
bang.count()   # total startup in bangalore.

SNo                 627
Date                627
StartupName         627
IndustryVertical    627
SubVertical         427
CityLocation        627
InvestorsName       626
InvestmentType      627
AmountInUSD         405
Remarks              98
dtype: int64

In [ ]:
mum.count() # total startups in mumbai .

SNo                 446
Date                446
StartupName         446
IndustryVertical    446
SubVertical         280
CityLocation        446
InvestorsName       442
InvestmentType      445
AmountInUSD         300
Remarks              78
dtype: int64

In [ ]:
mum_bang.count()

SNo                 1073
Date                1073
StartupName         1073
IndustryVertical    1073
SubVertical          707
CityLocation        1073
InvestorsName       1068
InvestmentType      1072
AmountInUSD          705
Remarks              176
dtype: int64

In [ ]:
mum_bang

       SNo        Date    StartupName  ...  InvestmentType AmountInUSD   Remarks
0        0  01/08/2017       TouchKin  ...  Private Equity   1,300,000       NaN
5        5  01/07/2017  Billion Loans  ...    Seed Funding   1,000,000       NaN
8        8  05/07/2017      Jumbotail  ...  Private Equity   8,500,000       NaN
11      11  06/07/2017         Minjar  ...    Seed Funding         NaN       NaN
13      13  07/07/2017       Clip App  ...    Seed Funding   1,000,000       NaN
...    ...         ...            ...  ...             ...         ...       ...
2169  2169  18/04/2015       Doormint  ...    Seed Funding         NaN       NaN
2179  2179  23/04/2015   Craftstvilla  ...  Private Equity  18,000,000  Series B
2185  2185  24/04/2015       Coverfox  ...  Private Equity  12,000,000  Series B
2187  2187  27/04/2015           Grab  ...    Seed Funding   1,000,000       NaN
2193  2193  28/04/2015    Naaptol.com  ...  Private Equity  21,500,000  Series C

[1073 rows x 10 columns]

In [ ]:
amount_bang = bang.AmountInUSD

In [ ]:
amount_bang.dropna(inplace=True)

In [ ]:
amount_bang1= amount_bang.str.replace(",","")
amount_bang1 = pd.to_numeric(amount_bang1)

In [ ]:
amount_bang1.dropna()

0        1300000
5        1000000
8        8500000
13       1000000
19      18500000
          ...
2178    15000000
2181      500000
2190    10000000
2196     3500000
2198      400000
Name: AmountInUSD, Length: 405, dtype: int64

In [ ]:
print(amount_bang1.mean())
print(amount_bang1.min())
print(amount_bang1.max())

20700676.809876543
18000
1400000000

FOR SAMPLE ERROR

In [ ]:
population = amount_bang1
sample_size = 50
sample=population.sample(sample_size,random_state=1)
sample

2033    50000000
280       500000
1780     3300000
396      5000000
699       150000
1589     1200000
1267     1200000
1614     9000000
116     10000000
831       700000
1643    10000000
2088    15000000
971      1200000
352      3000000
1981    50000000
401     55000000
1573     2500000
23        540000
2131     1000000
2058     6000000
2137    12000000
1931    16200000
660     27000000
1198      250000
74       5500000
1631    10000000
2178    15000000
1556      600000
450      1400000
262       275000
1025    25000000
19      18500000
1893      300000
902      4000000
24       1700000
392       440000
1235       22500
861      1350000
1052     1000000
962       210000
354       400000
903      2000000
1285     1000000
1949    11000000
298       191000
2101     2000000
1480      150000
615     50000000
492     15000000
1491    22500000
Name: AmountInUSD, dtype: int64

In [ ]:
pop_mean = population.mean()
sample_mean = sample.mean()

sample_error = pop_mean-sample_mean

print("This is the sample error --- ",sample_error)

This is the sample error ---  11295106.809876543